body{
  font-family: 'Source Sans Pro', sans-serif;
  width:85%;
  max-width:1050px;
  border-style:none;
  border-color:blue;
  border-width:3px;
  margin:0 auto;
  text-align: center;
  padding-bottom: 3em;
}

.container{
  border-style:solid;
  border-color:#47A3DA;
  border-width:3px;
  padding-left: 1em;
  padding-right: 1em;


}

h2 {
  color:#47A3DA;
  font-size: 2em;
}

.button-container{
  border-style:none;
  border-color:#47A3DA;
  border-width:3px;
  text-align:right;
  padding-top:1em;
  padding-bottom:1em;
}

input{
  display:none;
}

label{
  border-style:solid;
  color:lightgrey;
  background-color:rgba(0,0,0,0);
  font-size:1.9em;
  display: inline-block;
  padding:7px;
  padding-top:9px
}

label:hover{
  color:#47A3DA;
}

input:checked +label{
  color:#47A3DA;
}

/*button:active{
  color:red;
}*/


.div-one{
  /*--TOGGLED-VALUE--*/
  display:block;
  /*--TOGGLED-VALUE--*/
  border-style:none;
  border-color:red;
  border-top-style:solid;
  border-top-color:#47A3DA;
  border-width:3px;
  padding-bottom: 3em;
}

.items{
  border-style:none;
  border-color:red;
  border-width:3px;
  width:28%;
  display: inline-block;
  padding-top:3em;
  padding-left:2%;
  padding-right:2%;
  vertical-align: top;
}

.items h2{
  font-weight: 600;
  font-size:2.2em;
}

.items h3{
  color:lightgrey;
  font-size:1.8em;
  padding:.5em;
}

.items p {
  color:#47A3DA;
  font-size:1em;
  line-height: 1.2em;
}

button{
  background-color:#47A3DA;
  border-style:none;
  border-radius:3px;
  color:white;
  padding:.7em;
  padding-left:1.5em;
  padding-right:1.5em;
  font-size:.9em;
  margin-top:1.5em;
}

.div-two{
  /*--TOGGLED-VALUE--*/
  display:none;
  /*--TOGGLED-VALUE--*/
  border-style:none;
  border-color:red;
  border-top-style:solid;
  border-top-color:#47A3DA;
  border-width:3px;
}
